*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#navbar
{
    background: rgb(216, 13, 13);
    top:0;
    left:0;
    right:0;
    position: fixed;
}
 ul{
    list-style: none;
    color:white;
    padding:1rem;
    display: flex;
    justify-content: flex-end;
    
}
li{
    padding:0.5rem;
    margin-left: 4rem;
    font-size: 1.5rem;
} 
#welcome-section
{
    display: flex;
    width: 100%;
    height:100vh;
    margin-top:50px;
    background: rgb(44, 42, 42);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#welcome-section> h1{
color:white;
font-size: 4rem;
}
#welcome-section>h2{
    color:rgb(109, 3, 3);
    font-size: 2.5rem;
}
#projects
{
    background: rgb(87, 87, 236);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.box > a{
    text-decoration: none;
    font-size: 2.5rem;
    
}
#profile
{
    display: flex;
    width:100%;
    background: grey;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box
{
    width:30%;
    height: 350px;
    background: hotpink;
    border-radius: 0.3;
}
#btn
{
    display: block;
}

@media (max-width:500px){
body {
    background: chartreuse;
}
}